@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish' , sans-serif;
}
#container
{
    height: 100vh;
    width: 100%;
    background: whitesmoke;
    position: relative;
}
#navbar
{
    height: 15%;
    width: 90%;
    clip-path: polygon(100% 0, 95% 50%, 50% 100%, 5% 50%, 0 0);
    position: absolute;
    top: 0;
    left: 5%;
    background: red;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
}
#navbar ul,ol
{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 25px 0px;
}

ul
{
    position: absolute;
    left: 5%;
}
ol
{
    position: absolute;
    right: 5%;
}
li
{
    margin: 0px 60px;
    font-size: 23px;
}
li a
{
    text-decoration: none;
    color: lightsteelblue;
    transition: 0.5s;
}
li a:hover
{
    color: black;
    border-top: 2px solid yellow;
    border-bottom: 2px solid orange;
    cursor:pointer;
    border-radius: 10px;
}
#logo
{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 5px;
    left: calc(50% - 60px);
}
#logo img
{
    height: 120px;
}
#sideImg
{
    height: 500px;
    width: 500px;
    position: absolute;
    top: 25%;
    right: 32%;
    z-index: 500;
    display: grid;
    place-items: center;
    cursor: pointer;
}
#sideImg img
{
    height: 600px;
}
#sideImg:hover img
{
    animation: animate 2s linear;
}
@keyframes animate {
    0%
    {
        transform: scale(1);
    }
    80%
    {
        transform: scale(0.60);
    }
    95%
    {
        transform: scale(1.10);
    }
    100%
    {
        transform: scale(1);
    }
}
#content
{
    height: 400px;
    width: 750px;
    position: absolute;
    left: 5%;
    top: calc(50% - 200px);
}
#content h2
{
    font-family: sans-serif;
    font-size: 150px;
    color: red;
    font-weight: 900;
}
#content p
{
    padding: 0 0 0 20px;
}
#content button
{
    height: 70px;
    width: 200px;
    border: none;
    outline: none;
    background: red;
    color: lightgrey;
    cursor: pointer;
    font-weight: 1000;
    margin: 20px 0;
    position: absolute;
    z-index: 500;
}
#content button:hover
{
    animation: animate 1s linear;
    border-radius: 30px;
}
#content img
{
    height: 800px;
    position: absolute;
    top: -200px;
    left: -100px;
    filter: drop-shadow(1px 1px 0px red)
            drop-shadow(-1px -1px 0px red);
    opacity: 0.08;
    z-index: 1;
} 
body{
    background: lightblue;
}
.banner{
    width: 100%;
    height: 900px;
}
.td{
    font-family: 'Lobster', cursive;
    font-size:50px;
    text-align: center;
    color: lightgreen;
}
.td:hover{
    text-decoration: none;
    color: blue;
    content: "#";
}
.container1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background: lightskyblue;
    width: 270px;
    height: 500px;
    margin: 15px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.card-image{
    background-color: lightgreen;
    height: 150px;
    margin-bottom: 20px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.car-1{
    background-image: url(file:///D:/index/image/cards1.png);
}
.car-2{
    background-image: url(file:///D:/index/image/cards%202.png);
}
.car-3{
    background-image: url(file:///D:/index/image/cards%203.png);
}
.card h2{
    padding: 10px;
}
.card p{
    padding: 10px;
}
.card a{
    background-color:blue;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}
.card a:hover
    {
        border-radius: 30px;
        color: black;
        background-color: orange;
    }
.card:hover{
    background-color: lightskyblue;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
    border-radius: 30px;
}
.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    text-transform: uppercase;
}
.heading h1{
    font-size: 2rem;
}
.ride-container{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.ride-container .box{
    text-align: center;
    padding: 20px;
}
.ride-container.box .bx{
    font-size: 34px;
    padding:20px;
    background: white;
    border-radius: 0.5rem;
    color: wheat;
}
.ride-container .box h2{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
}
.ride-container .box .bx:hover,.ride-container .bx .bxs-calendar-check{
     background: orange;
     color: blue;
     
}
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.services-container .box{
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}
.services-container .box .box-img{
    width: 100%;
    height: 200px;
}
.services-container .box .box-img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}
.services-container .box p{
    padding: 0 10px;
    border: 1px solid black;
    width: 58px;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem;
}
.services-container .box h3{
    font-weight: 500;
}
.services-container .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    color: lightcoral;
    margin: 0.2rem 0 0.5rem;
}
.services-container .box h2 span{
    font-size: 0.8rem;
    font-weight: 500;
    color: blue;
    transition: all;
    text-decoration:1s ;
}
.services-container .box:hover{
    background-color: lightskyblue;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
    border-radius:10px;
}
.services-container .box .btn1{
    display: flex;
    justify-content: center;
    background:  rgb(7, 57, 195);
    color: whitesmoke;
    padding: 10px;
    border-radius: 0.5rem;
}
.services-container .box .btn1:hover{
    background: orange;
}
.services-container .box .btn2{
    display: flex;
    justify-content: center;
    background: rgb(7, 57, 195);
    color: whitesmoke;
    padding: 10px;
    border-radius: 0.5rem;
}
.services-container .box .btn2:hover{
    background: orange;
}
.services-container .box .btn3{
    display: flex;
    justify-content: center;
    background:  rgb(7, 57, 195);
    color: whitesmoke;
    padding: 10px;
    border-radius: 0.5rem;
}
.services-container .box .btn3:hover{
    background: orange;
}
.btn5{
    width: 100px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: yellow;
    position: fixed;
    bottom: 20px;
    right: 0px;

}
.abouts-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;    
}
.heading span{
    font-weight: 500;
    color: orange;
    text-transform: uppercase;
}
.about-img img{
            width: 100%;
}
.about-text span{
    font-weight: 500;
    color: orange;
    text-transform: uppercase;
}
.about-text p{
    margin: 0.5rem 0 1.4rem;
}
.about-text .btn{
    padding: 10px 20px;
    align-items: center;
    text-align: center;
    background: blue;
    color: whitesmoke;
    border-radius: 0.5rem;
}
.about-text .btn:hover{
    background: orange;
}
.reviews-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    margin-top: 2rem;
}
.rev-img{
    width: 70px;
    height: 70px;
}
.rev-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid orange;
}
.reviews-container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 4px 41px black;
    border-radius: 0.5rem;
}
.reviews-container .box:hover{
    background-color: lightskyblue;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
    border-radius:10px;
}
.reviews-container .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}
.reviews-container .box p{
    font-style: italic;
}
.reviews-container .box .star .bx{
    color: orange;
}
footer{
    position: relative;
    width: 100%;
    background-color: blue;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li, footer .menu li{
    list-style: none;
}
footer .social_icon li a{
    font-size: 2rem;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover{
    transform: translateY(-10px);
}
footer .menu li a{
    font-size: 1.2rem;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover{
        opacity: 2px;
        color: black;
}
footer p{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}
footer p:hover{
    color: black;
}

